.index-body{
  /* margin: 0 20vw 0 20vw; */
  width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  margin: 30px 3vw;
}

input[type='text'] {
  width: 50px;
}

.box {
  display: flex;
  /* margin: 0 auto; */
}

.label {
  display: inline-block;
  margin-top: -1px;
  width: calc(40vw + 1px);
  padding: 15px 0 15px 20px;
  background-color: rgb(176, 196, 222, 0.5);
  border: solid 1px;
}

.input {
  display: flex;
  padding-left: 30px;
  margin-top: -1px;
  margin-left: -1px;
  width: calc(50vw + 1px);
  border: solid 1px;
  align-items: center;
}

.add-label {
  display: inline-block;
  margin-top: -1px;
  width: calc(40vw + 1px);
  padding: 15px 0 15px 20px;
  background-color: rgb(176, 196, 222, 1.0);
  border: solid 1px;
}

.add-input {
  display: flex;
  padding: 0 0 0 30px;
  margin-top: -1px;
  margin-left: -1px;
  width: calc(50vw + 1px);
  border: solid 1px;
  align-items: center;
  background-color: rgb(204, 204, 204, 0.5);
}

.radio-input {
  margin-right: 15px;
}

.submit-button {
  margin: 50px auto;
  text-align: center;
}

.submit-button > input {
  margin: 0 50px;
  padding: 10px 15px;
  font-weight: bold;
}

.hide {
  display: none;
}
